<body class="page-projects" style="background-color: white;">

    <div id="wrapper">
        <!-- header begin -->
        <%= render 'user/contacts/header' %>
        <!-- header close -->

        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Projects</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>Projects</li>
                            <li class="sep">/</li>
                            <li><%= truncate(sanitize(@project.project_name, :tags => %w(br a)), :length => 20) %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="container project-view">

            <div class="row">
                <div class="col-md-8 project-images">
                    <%= image_tag @project.image_one_url %>
                    <%= image_tag @project.image_two_url %>
                    <%= image_tag @project.image_three_url %>
                </div>
                <div class="col-md-4">
                    <div class="project-info">
                        <h2><%= @project.project_name %></h2>

                        <div class="details">
                            <div class="info-text">
                                <span class="title">Date</span>
                                <span class="val"><%= @project.date %></span>
                            </div>

                            <div class="info-text">
                                <span class="title">Location</span>
                                <span class="val"><%= @project.location %></span>
                            </div>

                            <div class="info-text">
                                <span class="title">Value</span>
                                <span class="val"><%= @project.value %> ₫</span>
                            </div>

                            <div class="info-text">
                                <span class="title">Client</span>
                                <span class="val"><%= @project.client %></span>
                            </div>

                            <div class="info-text">
                                <span class="title">Category</span>
                                <span class="val"><%= @project.category %></span>
                            </div>
                        </div>

                        <p><%= sanitize(@project.description.html_safe) %></p>

                        <p>
                            <h4>Our Solutions</h4>
                            <%= sanitize(@project.solution.html_safe) %>
                        </p>
                    </p>


                </div>
            </div>
        </div>
    </div>
    <!-- footer begin -->
    <%= render 'user/contacts/footer' %>
    <!-- footer close -->
</div>
</body>
