<body class="page-shop">

    <div id="wrapper">
        <!-- header begin -->
        <%= render 'user/contacts/header' %>
        <!-- header close -->

        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Products</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>Products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <section id="section-portfolio" class="no-top no-bottom" aria-label="section-portfolio">

                            <!-- portfolio filter begin -->
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <ul id="filters" class="wow fadeInUp" data-wow-delay="0s">
                                        <li><a href="#" data-filter="*" class="selected">All Designs</a></li>
                                        <li><a href="#" data-filter=".residential">Bedroom</a></li>
                                        <li><a href="#" data-filter=".sofa">Dining Room</a></li>
                                        <li><a href="#" data-filter=".chair">Kitchen</a></li>
                                        <li><a href="#" data-filter=".commercial">Guest Rooms</a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- portfolio filter close -->

                            <div id="gallery" class="row grid_gallery gallery de-gallery wow fadeInUp" data-wow-delay=".3s">

                                <!-- gallery item -->
                                <div class="products">
                                    <% @products.each do |pro| %>
                                    <div class="col-md-4 item <%= pro.category %>" data-toggle="collapse" data-target="#<%= pro.id %>">
                                        <%= image_tag pro.avatar_url, :class => 'img-responsive' %>
                                        <h4><%= pro.product_name %></h4>
                                        <div id="<%= pro.id %>" class="collapse">hhhhhh</div>
                                        <div class="price"><%= pro.price %> ₫</div>
                                        <a href="#" class="btn btn-line" data-toggle="modal" data-target="#exampleModal" onclick="inquiryform('decoration', 'sample-01')">Order this</a>
                                    </div>
                                    <% end -%>
                                </div>
                                <!-- close gallery item -->
                            </div>
                        </section>
                    </div>
                    <div id="sidebar" class="col-md-3">
                        <div class="widget widget_top_rated_product">
                            <h4>New Release</h4>
                            <ul>
                                <% @products.where(:top_rated => 'yes').each do |p| %>
                                <li>
                                    <%= image_tag p.avatar_url %>
                                    <div class="text">
                                        <%= p.product_name %>
                                        <div class="price"><%= p.price %> ₫</div>
                                    </div>
                                </li>
                                <% end -%>
                            </ul>
                        </div>
                        <div class="widget widget_top_rated_product">
                            <h4>Top Rated Product</h4>
                            <ul>
                                <% @products.where(:top_rated => 'yes').each do |p| %>
                                <li>
                                    <%= image_tag p.avatar_url %>
                                    <div class="text">
                                        <%= p.product_name %>
                                        <div class="price"><%= p.price %> ₫</div>
                                    </div>
                                </li>
                                <% end -%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer begin -->
        <%= render 'user/contacts/footer' %>
        <!-- footer close -->
    </div>
    <script>
$("#btn3").hover(function(){
 $("#hide4").toggle('slow');
});
    </script>
</body>