<% content_for :not_authorized do %>
<%= form_for @customer, :url => { :action => "create" } do |f| %>
 
  <p>
    <%= form.label :customer_name %><br>
    <%= form.text_field :customer_name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>

   <p>
    <%= form.label :phone %><br>
    <%= form.text_area :phone %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
<% end %>