<%= form_with model: [:admin, @interioridea], local: true do |f| %>
<div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="col-sm-3">
    <div class="picframe">
      <div class="card mb-3">
        <% if @interioridea.image.present? %>
        <%= image_tag @interioridea.image_url, :class => 'card-img-top img-fluid w-100', :id => 'img_prev' %>
        <% else %>
        <%=image_tag('no-post-chosen.jpg', :class => 'card-img-top img-fluid w-100', :id => 'img_prev')%>
        <% end %>
        <div class="card-body">
          <h6 class="card-title mb-1">Main Image</h6>
        </div>
        <hr class="my-0">
        <div class="card-body py-2 small">    
          <label class="btn btn-sm btn-primary">
            Browse&hellip; <%= f.file_field :image, :class => 'interior-btn', :onchange => 'readURL(this);' %>
          </label>
        </div>
        <div class="card-footer font-italic small text-info">Note : for a better out-look on the webstie, please choose picture size as 700 x 350 pixels</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="picframe">
      <div class="card mb-3">
        <% if @interioridea.image_one.present? %>
        <%= image_tag @interioridea.image_one_url, :class => 'card-img-top img-fluid w-100', :id => 'img_prev-01' %>
        <% else %>
        <%=image_tag('no-post-chosen.jpg', :class => 'card-img-top img-fluid w-100', :id => 'img_prev-01')%>
        <% end %>
        <div class="card-body">
          <h6 class="card-title mb-1">Sub Image - 01</h6>
        </div>
        <hr class="my-0">
        <div class="card-body py-2 small">
          <label class="btn btn-sm btn-primary">
            Browse&hellip; <%= f.file_field :image_one, :class => 'interior-btn', :onchange => 'readURL1(this);' %>
          </label>
        </div>
        <div class="card-footer font-italic small text-info">Note : for a better out-look on the webstie, please choose picture size as 700 x 350 pixels</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="picframe">
      <div class="card mb-3">
        <% if @interioridea.image_two.present? %>
        <%= image_tag @interioridea.image_two_url, :class => 'card-img-top img-fluid w-100', :id => 'img_prev-02' %>
        <% else %>
        <%=image_tag('no-post-chosen.jpg', :class => 'card-img-top img-fluid w-100', :id => 'img_prev-02')%>
        <% end %>
        <div class="card-body">
          <h6 class="card-title mb-1">Sub Image - 02</h6>
        </div>
        <hr class="my-0">
        <div class="card-body py-2 small">
          <label class="btn btn-sm btn-primary">
            Browse&hellip; <%= f.file_field :image_two, :class => 'interior-btn', :onchange => 'readURL2(this);' %>
          </label>
        </div>
        <div class="card-footer font-italic small text-info">Note : for a better out-look on the webstie, please choose picture size as 700 x 350 pixels</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="picframe">
      <div class="card mb-3">
        <% if @interioridea.image_three.present? %>
        <%= image_tag @interioridea.image_three_url, :class => 'card-img-top img-fluid w-100', :id => 'img_prev-03' %>
        <% else %>
        <%=image_tag('no-post-chosen.jpg', :class => 'card-img-top img-fluid w-100', :id => 'img_prev-03')%>
        <% end %>
        <div class="card-body">
          <h6 class="card-title mb-1">Sub Image - 03</h6>
        </div>
        <hr class="my-0">
        <div class="card-body py-2 small">
          <label class="btn btn-sm btn-primary">
            Browse&hellip; <%= f.file_field :image_three, :class => 'interior-btn', :onchange => 'readURL3(this);' %>
          </label>
        </div>
        <div class="card-footer font-italic small text-info">Note : for a better out-look on the webstie, please choose picture size as 700 x 350 pixels</div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom: 20px;">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">
          <div class="form-group">
            <%= f.text_field :title, :class => 'form-control input-lg', :placeholder => 'please input post title here...' %><p class="font-italic text-info small">please choose an attractive title sice the title is highlighted on the website</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-group">
            <%= f.select(:show_on_home, Interioridea::SHOW_ON_HOME, :class => 'form-control input-lg') %>
            <p class="font-italic text-info small">If you choose "yes", main image of this post will be shown on home page</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.collection_select :category, InteriorideaCategory.order(:category_name),:category_name,:show, include_blank: false %>
            <p class="font-italic text-info small">you can choose a fixed category or provide a short introduction</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :designer, :class => 'form-control input-lg', :placeholder => 'designer name' %>
            <p class="font-italic text-info small">let the customers know about the designer. Or keep it as company name</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 nopadding">
            <%= f.trix_editor :description %>
          </div>
        </div>
      </div>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6"><%= link_to 'No! I changed my mind', admin_interiorideas_path, :class => 'btn btn-danger btn-block btn-lg' %></div> 
        <div class="col-xs-12 col-md-6"><%= f.submit 'save this post', :class => 'btn btn-success btn-block btn-lg' %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
        .attr('src', e.target.result)
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function readURL1(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev-01')
        .attr('src', e.target.result)
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function readURL2(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev-02')
        .attr('src', e.target.result)
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function readURL3(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev-03')
        .attr('src', e.target.result)
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>