<ol class="breadcrumb">
<li class="breadcrumb-item">
  <a href="#">Dashboard</a>
</li>
<li class="breadcrumb-item">
<%= link_to 'Interior Ideas', admin_interiorideas_path %>
</li>
<li class="breadcrumb-item active">Edit</li>
<%= link_to 'Add new Project', new_admin_interioridea_path, :class => 'btn btn-success left-right' %>
</ol>

<%= form_with model: [:admin, @interioridea], local: true do |form| %>
 
 <div class="container" style="padding: 50px;">
  <p>
    <%= form.label :category %><br>
    <%= form.select(:category, Interioridea::CATEGORIES) %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :show_on_home %><br>
    <%= form.select(:show_on_home, Interioridea::SHOW_ON_HOME) %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
</div>
 
<% end %>