<ol class="breadcrumb">
<li class="breadcrumb-item">
  <a href="#">Dashboard</a>
</li>
<li class="breadcrumb-item">
<%= link_to 'Interior Ideas', admin_interiorideas_path %>
</li>
<li class="breadcrumb-item active">Show</li>
<%= link_to 'Edit', edit_admin_interioridea_path(@project), :class => 'btn btn-danger left-right' %>
<%= link_to 'Add new Project', new_admin_interioridea_path, :class => 'btn btn-success left-right' %>
</ol>

<div class="container" style="margin: 50px;">
<p>
	<%= image_tag @interioridea.image_url, :class => 'resizeimage-big' %>
</p>

<p>
	<strong>Product number: </strong>
	<%= @interioridea.title %>
</p>

<p>
	<strong>Category: </strong>
	<%= @interioridea.category %>
</p>

<p>
	<strong>Name: </strong>
	<%= @interioridea.show_on_home %>
</p>
</div>