<ol class="breadcrumb" style="margin-left: 10px; margin-right: 10px;">
  <li class="breadcrumb-item">
    <%= link_to (t '.dashboard'), admin_dashboards_path %>
  </li>
  <li class="breadcrumb-item active">Project Categories</li>
  <%= link_to 'NEW CATEGORY', new_admin_project_category_path, :class => 'btn btn-sm btn-success left-right' %>
</ol>

<div class="card mb-3" style="margin-left: 15px; margin-right: 15px;">
  <div class="card-header">
    <i class="fa fa-table"></i> <%= t ".comments" %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".name" %></th>
              <th><%= t ".operations" %></th>
            </tr>
          </thead>
          <tbody>
            <% @category.each do |c| %>
            <tr>
              <td>#</td>
              <td><%= c.category %></td>
              <td><%= link_to 'edit', edit_admin_product_category_path(c), :class => 'btn btn-sm btn-warning' %>
                <%= link_to 'view', admin_product_category_path(c), :class => 'btn btn-sm btn-primary' %>
                <%= link_to ' del', admin_product_category_path(c), :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: (t '.question') } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>