<table class="table">
    <thead>
      <tr>
        <th>Cover Photo</th>
        <th>Title</th>
        <th>Category</th>
        <th>Client</th>
        <th>Budget</th>
        <th>Date</th>
        <th>Location</th>
        <th>description</th>
        <th>solution</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |pro| %>
      <tr>
        <td style="vertical-align: middle;"><%= image_tag pro.cover_photo_url, :class => 'resizeimage' %></td>
        <td style="vertical-align: middle;"><%= pro.project_name %></td>
        <td style="vertical-align: middle;"><%= pro.category %></td>
        <td style="vertical-align: middle;"><%= pro.client %></td>
        <td style="vertical-align: middle;"><%= pro.value %></td>
        <td style="vertical-align: middle;"><%= pro.date %></td>
        <td style="vertical-align: middle;"><%= pro.location %></td>
        <td style="vertical-align: middle;"><%= pro.description %></td>
        <td style="vertical-align: middle;"><%= pro.solution %></td>
        <td style="vertical-align: middle;"><%= link_to 'New', new_admin_project_path %></td>
        <td style="vertical-align: middle;"><%= link_to 'show', admin_project_path(pro) %></td>
        <td style="vertical-align: middle;"><%= link_to 'Edit', edit_admin_project_path(pro) %></td>
        <td style="vertical-align: middle;"><%= link_to 'Destroy', admin_projects_path(pro), method: :destroy, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end -%>
    </tbody>
  </table>