<ol class="breadcrumb">
<li class="breadcrumb-item">
  <a href="#">Dashboard</a>
</li>
<li class="breadcrumb-item">
<%= link_to 'Projects', admin_projects_path %>
</li>
<li class="breadcrumb-item active">Show</li>
<%= link_to 'Edit', edit_admin_project_path(@project), :class => 'btn btn-danger left-right' %>
<%= link_to 'Add new Project', new_admin_project_path, :class => 'btn btn-success left-right' %>
</ol>

<div class="container" style="margin: 50px;">
<p>
	<%= image_tag @project.cover_photo_url, :class => 'resizeimage-big' %>
</p>

<p>
	<strong>Project Name: </strong>
	<%= @project.project_name %>
</p>

<p>
	<strong>Category: </strong>
	<%= @project.category %>
</p>

<p>
	<strong>Client: </strong>
	<%= @project.client %>
</p>

<p>
	<strong>Budget: </strong>
	<%= @project.value %>
</p>

<p>
	<strong>Date: </strong>
	<%= @project.date %>
</p>

<p>
	<strong>Location: </strong>
	<%= @project.location %>
</p>

<p>
	<strong>Description: </strong>
	<%= @project.client %>
</p>

<p>
	<strong>Our Solution: </strong>
	<%= @project.client %>
</p>
</div>
