<% @contact.each do |c| %>

<%= link_to 'New', new_contact_path(c) %>

	<p>
		<%= c.email %>
		<%= c.phone %>
		<%= c.fax %>
		<%= c.address %>
		<%= c.fb %>
		<%= c.twitter %>
		<%= c.open_from %>
		<%= c.open_to %>
		<%= c.open_hour %>
		<%= c.close_hour %>
		<%= link_to 'Edit', edit_contact_path(c) %> | <%= link_to 'Delete', contact_path(c), method: :delete %>
	</p>


<% end -%>