<% @contact.each do |c| %>

	<p>
		<%= c.email %>
		<%= c.phone %>
		<%= c.fax %>
		<%= c.address %>
		<%= c.fb %>
		<%= c.twitter %>
		<%= c.open_from %>
		<%= c.open_to %>
		<%= c.open_hour %>
		<%= c.close_hour %>
	</p>


<% end -%>