<%= form_for [:admin, @consulting] do |f| %>

  <div class="form-group">
    <%= f.label :title %>
	<%= f.text_field :title, :class => 'form-control' %><br>
  </div>
  <div class="form-group">
    <%= f.label :text %>
	<%= f.text_field :text, :class => 'form-control' %><br>
  </div>
  <%= f.submit 'save', :class => 'btn btn-primary' %>
  <% end -%>