<ol class="breadcrumb" style="margin-left: 10px; margin-right: 10px;">
  <li class="breadcrumb-item">
    <%= link_to (t '.dashboard'), admin_dashboards_path %>
  </li>
  <li class="breadcrumb-item active"><%= link_to (t '.contact'), admin_contacts_path %></li>
  <li class="breadcrumb-item active"><%= t ".edit" %></li>
</ol>

<%= form_for [:admin, @contact] do |f| %>

<div class="container" style="padding: 50px;">
  <div class="form-group">
    <%= f.label t ('.phone') %>
    <%= f.text_field :phone, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.fax') %>
    <%= f.text_field :fax, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.email') %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.address') %>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.openday') %>
    <%= f.text_field :opendate, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.closeday') %>
    <%= f.text_field :closedate, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.openat') %>
    <%= f.text_field :openat, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.closeat') %>
    <%= f.text_field :closeat, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Facebook' %>
    <%= f.text_field :facebook, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Twitter' %>
    <%= f.text_field :twitter, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Google +' %>
    <%= f.text_field :google, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label (t '.introduction') %>
    <%= f.trix_editor :description %>
  </div>
  <%= f.submit (t '.save'), :class => 'btn btn-primary' %>
  <% end -%>
</div>