<ol class="breadcrumb">
<li class="breadcrumb-item">
  <%= link_to 'Go Back', admin_contacts_path %>
</li>
</ol>

<%= form_for [:admin, @contact] do |f| %>

<div class="container" style="padding: 50px;">
  <div class="form-group">
  <%= f.label :phone %>
	<%= f.text_field :phone, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :fax %>
	<%= f.text_field :fax, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :email %>
	<%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :address %>
	<%= f.text_field :address, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :open_from %>
	<%= f.text_field :opendate, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :open_to %>
	<%= f.text_field :closedate, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :open_hour %>
	<%= f.text_field :openat, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :close_hour %>
	<%= f.text_field :closeat, :class => 'form-control' %>
  </div>
  <%= f.submit 'save changes', :class => 'btn btn-primary' %>
  <% end -%>
</div>