<%= render 'head' %>

<% @contact.each do |c| %>

<table class="table">
    <tbody>
        <tr>
          <th>Phone</th>
            <td><%= c.phone %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
        <tr>
          <th>Fax</th>
            <td><%= c.fax %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
      <tr>
          <th>Email</th>
            <td><%= c.email %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
        <tr>
          <th>Address</th>
            <td><%= c.phone %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
        <tr>
          <th>Open From</th>
            <td><%= c.opendate %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
      <tr>
          <th>Open To</th>
            <td><%= c.closedate %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
        <tr>
          <th>Open at</th>
            <td><%= c.openat %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
      <tr>
          <th>Close at</th>
            <td><%= c.closeat %></td>
            <td><%= link_to 'Edit', edit_admin_contact_path(c) %></td>
        </tr>
    </tbody>
</table>
<% end -%>