<body class="page-blog">

    <div id="wrapper">
        <!-- header begin -->
        <%= render 'user/contacts/header' %>
        <!-- header close -->

        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>New Interior</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>New Interior</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="blog-list">
                            <% @interiorideas.each do |interior| %>
                            <li>
                                <div class="post-content">
                                    <div class="post-image">
                                        <% if interior.image.present? %>
                                        <%= link_to image_tag(interior.image_url, :class => 'card-img-top img-fluid w-100'), user_interioridea_path(interior) %>
                                        <% end %>
                                    </div>
                                    <div class="date-box">
                                        <div class="day"><%= interior.updated_at.strftime("%d") %></div>
                                        <div class="month"><%= interior.updated_at.strftime("%b") %></div>
                                    </div>

                                    <div class="post-text">
                                        <h3><%= link_to truncate(interior.title, :length => 40), user_interioridea_path(interior) %></h3>
                                        <p><%= truncate(sanitize(interior.description, :tags => %w()), :length => 300) %></p>
                                    </div>

                                    <%= link_to 'Read More', user_interioridea_path(interior), :class => 'btn-more' %>
                                </div>
                            </li>
                            <% end %>

                        </ul>

                        <div class="text-center">
                            <%= will_paginate @interiorideas1 %>
                        </div>
                    </div>

                    <div id="sidebar" class="col-md-4">
                        <div class="widget widget-post">
                            <h4>New Release</h4>
                            <div class="small-border"></div>
                            <div class="newstape-content">
                                <% @interiorideas.where(:show_on_home => 'yes').each do |inte| %>
                                <div class="news-block">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <%= image_tag inte.image_url, :class => 'news-item' %>
                                        </div>
                                        <div class="col-xs-8">  
                                            <h5><%= inte.title %></h5>
                                            <p style="font-size:10px; color:#03225C;"><%= truncate(sanitize(inte.description, :tags => %w()), :length => 100) %></p>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <div id="sidebar" class="col-md-4">
                    <div class="widget widget-post">
                        <h4>Interior Ideas</h4>
                        <div class="small-border"></div>
                        <div id="news-wrapper" class="news-body">
                            <div class="newstape">
                                <div class="newstape-content">
                                    <% @interiorideas.each do |inte| %>
                                    <div class="news-block">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <%= image_tag inte.image_url, :class => 'news-item' %>
                                            </div>
                                            <div class="col-xs-8">  
                                                <h5><%= inte.title %></h5>
                                                <p style="font-size:10px; color:#03225C;"><%= truncate(sanitize(inte.description, :tags => %w()), :length => 100) %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer begin -->
    <%= render 'user/contacts/footer' %>
    <!-- footer close -->

</div>
<script>
    $(function() {
        $('.newstape').newstape();
    });
</script>
</body>