<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%=image_tag('logo.png', :class => 'logo-small')%> <br>
                <% @contact.each do |c| %>
                <% if c.description.present? %>
                <%= sanitize c.description.html_safe %>
                <% end %>
            </div>

            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnuinvn-1796863720392747%2F%3Fview_public_for%3D1796863720392747&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=476328649459649" width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>

            <div class="col-md-4">
                <h3><%= t ".contactus" %></h3>
                <div class="widget widget-address">
                    <address>
                        <span><%= c.address %></span>
                        <span><strong><%= t ".phone" %>:</strong><%= c.phone %></span>
                        <span><strong><%= t ".fax" %>:</strong><%= c.fax %></span>
                        <span><strong><%= t ".email" %>:</strong><%= c.email %></span>
                        <% end -%>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top"></a>
    <!-- WhatsHelp.io widget -->
    
</script>
<!-- /WhatsHelp.io widget -->
</footer>