<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%=image_tag('logo.png', :class => 'logo-small')%> <br>
                We are a team based on HCM, Viet Nam expertise in Interior Design. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            </div>

            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnuinvn-1796863720392747%2F%3Fview_public_for%3D1796863720392747&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=476328649459649" width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Contact Us</h3>
                <div class="widget widget-address">
                    <address>
                        <% @contact.each do |c| %>
                        <span><%= c.address %></span>
                        <span><strong>Phone:</strong><%= c.phone %></span>
                        <span><strong>Fax:</strong><%= c.fax %></span>
                        <span><strong>Email:</strong><%= c.email %></span>
                        <% end -%>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top"></a>
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
            facebook: "1796863720392747", // Facebook page ID
            call: "01653043974", // Call phone number
            call_to_action: "Contact us !", // Call to action
            button_color: "#129BF4", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,call", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->
</footer>