<body class="page-contact">

        <div id="wrapper">
            <!-- header begin -->
            <%= render 'header' %>
            <!-- header close -->

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<!-- content begin -->
<div id="content" class="no-top">
    <section class="no-top-sub" aria-label="map-container">
        <iframe width=100% height=400 frameborder=0 scrolling=no marginheight=0 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0650212837263!2d106.74985581467159!3d10.80633209230125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175266a3b79106f%3A0x96039182cc2600d9!2sHurry+Up+Software+Company!5e0!3m2!1sen!2s!4v1528252916346" marginwidth=0></iframe><a class="addmaps" href="http://www.map-embed.com/wordpress-themes/" id=get-map-data></a>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Send Us Message</h3>
                <%= form_for @customer, :url => { :action => "create" } do |f| %>
                    <div class="row">
                        <div class="col-md-4">
						    <div>
                                <p><%= f.text_field :customer_name, :class => 'form-control', :placeholder => 'your name...', :type => 'text', :required => true, :autocomplete => 'name' %></p>
                            </div>
							<div>
                                <p><%= f.text_field :email, :class => 'form-control', :placeholder => 'your email...', :type => 'email', :required => true, :autocomplete => 'email' %></p>
                            </div>
                            <div>
                                <p><%= f.text_field :phone, :class => 'form-control', :placeholder => 'your phone number...', :type => 'number', :required => true, :autocomplete => 'tel' %></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <p><%= f.text_area :message, :class => 'form-control', :placeholder => 'Type your message here...', :rows => '6' %></p>
                            </div>
                        </div>

                        <div class="col-md-12">
							<p><%= f.submit 'Send Message', :class => 'btn btn-line'  %></p>
                        </div>
                    </div>
                <% end -%>
            </div>

            <div id="sidebar" class="col-md-4">

                <div class="widget widget_text">
                    <h3>Contact Info</h3>
                    <address>
                        <% @contact.each do |c| %>
                        <span><%= c.address %></span>
                        <span><strong>Phone:</strong><%= c.phone %></span>
                        <span><strong>Fax:</strong><%= c.fax %></span>
                        <span><strong>Email:</strong><%= c.email %></span>
                        <span><strong>Open</strong><%= c.opendate %> - <%= c.closedate %> <%= c.openat %> - <%= c.closeat %></span>
                        <% end -%>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer begin -->
    <%= render 'footer' %>
<!-- footer close -->

</div>
    </body>