<% @products.each do |p| %>

<table class="table">
    <tbody>
        <tr>
          <th>Phone</th>
            <td><%= p.product_number %></td>
            <td><%= link_to 'Edit', edit_product_path(p) %></td>
        </tr>
        <tr>
          <th>Fax</th>
            <td><%= p.category %></td>
            <td><%= link_to 'Edit', edit_product_path(p) %></td>
        </tr>
      <tr>
          <th>Email</th>
            <td><%= p.name %></td>
            <td><%= link_to 'Edit', edit_product_path(p) %></td>
        </tr>
        <tr>
          <th>Address</th>
            <td><%= p.price %></td>
            <td><%= link_to 'Edit', edit_product_path(p) %></td>
        </tr>
    </tbody>
</table>
<% end -%>