<table class="table">
    <thead>
      <tr>
        <th>Product Number</th>
        <th>Category</th>
        <th>Name</th>
        <th>Price</th>
        <th>Top rated</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
      <tr>
        <td><%= p.product_number %></td>
        <td><%= p.category %></td>
        <td><%= p.product_name %></td>
        <td><%= p.price %></td>
        <td><%= p.top_rated %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(p) %></td>
      </tr>
      <% end -%>
    </tbody>
  </table>