<ol class="breadcrumb" style="margin-left: 10px; margin-right: 10px;">
	<li class="breadcrumb-item">
		<%= link_to 'DASHBOARD', admin_dashboards_path %>
	</li>
	<li class="breadcrumb-item">
		<%= link_to 'SHOP', admin_products_path %>
	</li>
	<li class="breadcrumb-item active">VIEW</li>
	<%= link_to 'EDIT', edit_admin_product_path(@product), :class => 'btn btn-sm btn-info left-right' %>
	<%= link_to ' delete', admin_product_path(@product), :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'NEW IDEA', new_admin_product_path, :class => 'btn btn-sm btn-success only-left' %>
</ol>

<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="col-sm-3">
		<div class="picframe">
			<div class="card mb-3">
				<% if @product.avatar.present? %>
				<%= image_tag @product.avatar_url, :class => 'card-img-top img-fluid w-100' %>
				<% else %>
				<%=image_tag('product-not-chosen.jpg', :class => 'card-img-top img-fluid w-100')%>
				<% end %>
				<div class="card-body">
					<h6 class="card-title mb-1">Product Image</h6>
				</div>
			</div>
		</div>
	</div>
	<table class="table" style="margin-left: 10px; margin-right: 10px;">
		<tbody>
			<tr>
				<td class="text-success"><i class="fa fa-sort-numeric-desc"></i> product Number</td>
				<td><%= @product.product_number %></td>
			</tr> 
			<tr>
				<td class="text-success" style="min-width: 200px;"><i class="fa fa-header"></i> Product name</td>
				<td style="word-break: break-word;"><%= @product.product_name %></td>
			</tr>                                        
			<tr>
				<td class="text-success"><i class="fa fa-caret-right"></i> product Category</td>
				<td><%= @product.category %></td>
			</tr>                                        
			<tr>
				<td class="text-success"><i class="fa fa-usd"></i> Price</td>
				<td><%= @product.price %></td>
			</tr>
			<tr>
				<td class="text-success"><i class="fa fa-wrench"></i> Material</td>
				<td><%= @product.material %></td>
			</tr>
			<tr>
				<td class="text-success"><i class="fa fa-eye"></i> Show on Top Rated</td>
				<td><%= @product.top_rated %></td>
			</tr>
			<tr>
				<td class="text-danger"><i class="fa fa-pencil-square-o"></i> Product Listning created on</td>
				<td><%= @product.created_at.to_date %></td>
			</tr>
			<tr>
				<td class="text-danger"><i class="fa fa-pencil"></i> product Listning Updated on</td>
				<td><%= @product.updated_at.to_date %></td>
			</tr>
		</tbody>
	</table>
	<div class="container">
		<h5 class="text-success">Product Description</h5>
		<blockquote>
			<% if @product.description.present? %>
			<p><%= sanitize @product.description.html_safe %></p>
			<% end %>
		</blockquote>
	</div>
</div>
