<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Lagomdecor Admin</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to_unless_current "English", locale: "en" %>
    <%= link_to_unless_current "Tiếng Việt", locale: "vn" %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <%= link_to admin_dashboards_path, :class => 'nav-link' do %>
        <i class="fas fa fa-tachometer"></i>
        <span class="nav-link-text"><%= t '.dashboard' %></span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <%= link_to admin_customers_path, :class => 'nav-link' do %>
        <i class="fas fa fa-tachometer"></i>
        <span class="nav-link-text"><%= t '.customer_management' %></span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <%= link_to admin_homes_path, :class => 'nav-link' do %>
        <i class="fas fa fa-home"></i>
        <span class="nav-link-text"><%= t '.home' %></span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fas fa fa-tasks"></i>
          <span class="nav-link-text"><%= t ".projects" %></span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <%= link_to admin_projects_path, :class => 'nav-link' do %>
            <i class="fas fa fa-tasks"></i>
            <span class="nav-link-text"><%= t '.projects' %></span>
            <% end %>
          </li>
          <li>
            <%= link_to admin_project_categories_path, :class => 'nav-link' do %>
            <i class="fas fa fa-tasks"></i>
            <span class="nav-link-text"><%= t '.categories' %></span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <%= link_to admin_interiorideas_path, :class => 'nav-link' do %>
        <i class="fas fa fa-comments"></i>
        <span class="nav-link-text"><%= t '.interioridea' %></span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#productcomponent" data-parent="#exampleAccordion">
          <i class="fas fa fa-shopping-cart"></i>
          <span class="nav-link-text"><%= t ".shop" %></span>
        </a>
        <ul class="sidenav-second-level collapse" id="productcomponent">
          <li>
            <%= link_to admin_products_path, :class => 'nav-link' do %>
            <i class="fas fa fa-shopping-cart"></i>
            <span class="nav-link-text"><%= t '.shop' %></span>
            <% end %>
          </li>
          <li>

          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <%= link_to admin_consultings_path, :class => 'nav-link' do %>
        <i class="fas fa fa-users"></i>
        <span class="nav-link-text"><%= t '.consulting' %></span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="">
        <%= link_to admin_contacts_path, :class => 'nav-link' do %>
        <i class="fas fa fa-phone"></i>
        <span class="nav-link-text"><%= t '.contact' %></span>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-bell"></i>
          <span><%= t ".alert" %>
            <% if @customers.where(:status => 'false').present? %>
            <span class="badge badge-pill badge-warning"><%= @customers.where(:status => 'false').length %> New</span>
            <% end %>
          </span>
          <span class="indicator text-warning d-none d-lg-block">
            <i class="fa fa-fw fa-circle"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">New Alerts:</h6>
          <% @customers.where(:status => 'false').each do |customer| %>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <span class="text-success">
              <strong>
                <i class="fa fa-long-arrow-up fa-fw"></i><%= link_to  truncate(customer.email, :length => 20), admin_customer_path(customer, status: true), method: :put %></strong>
              </span>
              <span class="small float-right text-muted"><%= customer.created_at.to_date %></span>
              <div class="dropdown-message small"><%= truncate(customer.message, length: 30) %></div>
            </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to current_admin.email, admin_dashboard_path(current_admin), :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa fa-sign-out"></i><%= t ".logout" %></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->

        </div>
        <!-- /.container-fluid-->

        <%= yield %>

        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
          <div class="container">
            <div class="text-center">
              <small>Copyright © Hurryup software 2018</small>
            </div>
          </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= t ".leave" %></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body"><%= t ".password_again" %></div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal"><%= t ".cancel" %></button>
                <%= link_to (t '.logout'), destroy_admin_session_path, method: :delete,  :class => 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </body>