<%= form_with model: [:admin, @video], local: true do |f| %>
<div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="col-md-8">
    <div class="video-container">
      <% if @video.url.present? %>
      <iframe src="<%= @video.url %>" frameborder="0" width="600" height="400" allowfullscreen></iframe>
      <% else %>
      <% end %>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 15px;">
  <div class="row">
    <div class="col-lg-12 nopadding">
      <%= f.text_field :url, :class => 'form-control input-lg', :placeholder => 'youtube url' %>
    </div>
    <p class="font-italic text-info small">place your youtube video code above</p>
  </div>
</div>

<div class="container" style="padding-bottom: 20px;">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">
          <div class="form-group">
            <%= f.text_field :project_name, :class => 'form-control input-lg', :placeholder => 'please input the project title here...' %><p class="font-italic text-info small">please choose an attractive and short title</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-group">
            <%= f.text_field :date, data:{ provide:'datepicker'}, :class => 'form-control input-lg', :placeholder => 'project date' %>
            <p class="font-italic text-info small">just to give an idean of the timestamp of this project was held</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :client, :class => 'form-control input-lg', :placeholder => 'client name or the company' %>
            <p class="font-italic text-info small">show out your different clients</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :value, :class => 'form-control text-dark input-lg', :placeholder => 'project capital in VND' %>
            <p class="font-italic text-info small">just to give an idea the scale of the project</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :location, :class => 'form-control input-lg', :placeholder => 'location' %>
            <p class="font-italic text-info small">location of the project was held(just city or full address)</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.collection_select :category, ProjectCategory.order(:category_name),:category_name,:show, include_blank: false %><p class="font-italic text-info small">choose the category where this project belongs to</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 nopadding">
            <%= f.trix_editor :description, :id => 'trix-id-2' %>
          </div>
          <p class="font-italic text-info small">Short description about the background</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 nopadding">
            <%= f.trix_editor :solution, :id => 'trix-id-1' %>
          </div>
          <p class="font-italic text-info small">longer description about the project, or you may call it solution</p>
        </div>
      </div>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6"><%= link_to 'No! I changed my mind', admin_interiorideas_path, :class => 'btn btn-danger btn-block btn-lg' %></div> 
        <div class="col-xs-12 col-md-6"><%= f.submit 'save this project', :class => 'btn btn-success btn-block btn-lg' %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>